@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #111;
}
* {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
